h1 {
    font-weight: bolder;
    font-family: "Goudy Bookletter 1911", sans-serif;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
 0 3px 0 #777777, 0 4px 0 #666666,
 0 5px 0 #555555, 0 6px 0 #444444,
 0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
 0 9px 10px rgba(0, 0, 0, 0.2);
}
table {
    margin-left: auto;
    margin-right: auto;
} 
h1 {
    text-align: center;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#imgContainer {
    display: table;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
